/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Estilos para o corpo da página */
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para o contêiner */
.container {
    width: 100%;
    max-width: 400px; /* Defina a largura máxima desejada para o contêiner */
    padding: 20px;
}

/* Estilos para o título */
h1 {
    text-align: center;
}

/* Estilos para os rótulos */
label {
    color: white;
}

/* Estilos para os campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para o botão */
button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

/* Estilos para o link de registro */
a.btn-register {
    color: blue;
    margin-left: 10px;
}

a.btn-back{
    color: blue;
    margin-left: 10px;
}

/* Estilos para responsividade */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}
